# LOOPS

## While Loop:

In python, while loop is used to execute a block of statements
repeatedly until a given a condition is satisfied.
And when the condition becomes false, the line immediately
after the loop in program is executed.

In [1]:
# Simple while loop
i=1 # initialization
while i<6: # condition
    print('While condition is true',i)
    i=i+1 # increment / decrement

While condition is true 1
While condition is true 2
While condition is true 3
While condition is true 4
While condition is true 5

In [1]:
i = 1
while i < 6:
    print("jaimeen")
    i+= 1

jaimeen
jaimeen
jaimeen
jaimeen
jaimeen

In [8]:
i=1
while i<6:
    print('While condition is true',i)
    i+=1
print(i)

While condition is true 1
While condition is true 2
While condition is true 3
While condition is true 4
While condition is true 5
6

In [2]:
# While loop with break.
#It is used to stop loop even if while condition is true
i=1
while i<6:
    print(i)
    i+=1
    if i==5:
        break

1
2
3
4

In [6]:
# While loop with continue statement.
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)   # Block of code

1
2
4
5
6

In [2]:
# While loop with else statement.
i=3
while i <6:
    i+=1
    print(i)
else:
    print('While loop condition is false')

4
5
6
While loop condition is false

In [3]:
count = 1
while (count < 3):
    count = count + 1
    print("Data science",count)

Data science 2
Data science 3

In [8]:
# To check a given number is prime or composite
num=int(input("Enter a number"))
i=1
count=0
while i<=num/2:
    if num%i==0:
        count=count+1
    i+=1
if count==1:
  print("Prime")
else:
  print("Composite")

Enter a number 67

Prime

# FOR LOOP

Python for loops are used to loop through an iterable object
(like a list, tuple, set, etc.) and perform the same action for each
item/element.

In [18]:
l=[1,2,3,4,5,6,7,8,9,0,12,34,55]
for c in l:
    print(c,end=',')

1,2,3,4,5,6,7,8,9,0,12,34,55,

In [1]:
# fruits=['Apple','Banana','Mango','Watermelon']
# for i in fruits:
#     print(i)

l1 = ['RED','GREEB','BLUE','WHITE']
for i in l1:
    print(i)

RED
GREEB
BLUE
WHITE

In [17]:
s='This is data science course'
for i in s:
    print(i, end = ',')

T,h,i,s, ,i,s, ,d,a,t,a, ,s,c,i,e,n,c,e, ,c,o,u,r,s,e,

In [15]:
## Range function
for i in range(1,10):
# range is a generator function which
#yields numbers from specified start to end point
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,20,2):
    # lower limit,upper limit,step
    print(i)

In [19]:
# Nested loops
list1=['Maths','Science','Geo','Eco','Social']
list2=[78,90,70,56,90]

In [20]:
for i in list1: # Outer loop
    for k in list2: # inner loop
        print(i,k)

Maths 78
Maths 90
Maths 70
Maths 56
Maths 90
Science 78
Science 90
Science 70
Science 56
Science 90
Geo 78
Geo 90
Geo 70
Geo 56
Geo 90
Eco 78
Eco 90
Eco 70
Eco 56
Eco 90
Social 78
Social 90
Social 70
Social 56
Social 90

In [21]:
a=['red','blue','green']
b=['Apple','Banana','Orange']
for i in a: ## outer loop
    for h in b: ## inner loop
        print(i,h)

red Apple
red Banana
red Orange
blue Apple
blue Banana
blue Orange
green Apple
green Banana
green Orange

In [22]:
l = [34,66,43,23,27,88,74,16]

In [26]:
for c in l:
    if(c%2==0):
        print(c,'is even')
    else:
        print(c,'is odd')

34 is even
66 is even
43 is odd
23 is odd
27 is odd
88 is even
74 is even
16 is even

In [27]:
city = ['bangalore', 'Mumbai',  'Pune']

In [32]:
for index in range(len(city)):
    print('Current city :', city[index])

print("Good bye!")

Current city : bangalore
Current city : Mumbai
Current city : Pune
Good bye!

# Function

A function is a block of organized code written to carry out a specified task.

Functions help break our program into smaller and modular chunks for better readability. Information can be passed into a function as arguments.

Parameters are specified after the function name inside the parentheses.

We can add as many parameters as we want. Parameters must be separated with a comma. A function may or may not return data.

In Python a function is defined using the def keyword

## Parameter VS Argument

A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that is sent to the function when it is called.

## Three types of functions in Python:-

1) Built-in function :- Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.

2) User-Defined Functions:- Function that we define ourselves to perform a specific task.

3) Anonymous functions : Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.

1) Python Function with no argument and no return value.

2) Function with no argument and with a Return value.


3) Python Function with argument and No Return value.

4) Function with argument and return value.

In [9]:
#  Syntax Definition of function
def name_of_function():
    print('Hello')

In [10]:
name_of_function()

Hello

In [6]:
# Syntax Calling the function
name_of_function()

Hello

In [ ]:
## create a function with name as your name
##and which print your name

In [7]:
def area_of_circle(r):
    area=3.14*r*r
    print(area)

In [8]:
area_of_circle(2)

12.56

In [9]:
def perimeter_of_square(side):
    peri=4*side
    print(peri)

In [10]:
side=4
side=5

In [11]:
perimeter_of_square(5)

20

In [12]:
def rectangle(l,b):
    area=l*b
    return area

In [13]:
rectangle(1,2)

2

In [14]:
def  details(name,userid,country):
    #  Function  to  print  User  details
    print('Name :- ', name)
    print('User ID is :- ', userid)
    print('Country  :-  ',country)

In [15]:
details('Data', 'Data123' , 'India')

Name :-  Data
User ID is :-  Data123
Country  :-   India

In [ ]:
#Task:-Write function to get a number from users and check whether given number is odd or even

In [ ]:
number()

In [1]:
def evenorodd():
    a=int(input('Enter your number'))
    if a%2==0:
        print('The number is even')
    else:
        print('The number is odd')

In [17]:
evenorodd()

Enter your number 5

The number is odd

In [11]:
##Python Function with no argument and no return value

def noargument():
    print()

In [12]:
noargument('hi')

TypeError: noargument() takes 0 positional arguments but 1 was given

In [21]:
## Function with no argument and with a Return value
def argu():
    print('This is no argument but return value function')

In [22]:
argu()

This is no argument but return value function

In [23]:
##Python Function with argument and No Return value

def noreturn(a): ## a is parameter or input to the function
    print()

In [24]:
noreturn(6)

### Docstrings:
1)	Docstrings provide a convenient way of associating documentation with functions,
classes, methods or modules.

2)	They appear right after the definition of a function, method, class, or module.

In [23]:
## Function with argument and return value
def squareofnum(a):
      
    return a**2

In [24]:
squareofnum(10)

100

In [25]:
q=squareofnum(10)

In [26]:
print(q)

100

In [27]:
print(squareofnum.__doc__, "document")

None document

In [ ]:
squareofnum

In [51]:
#Area of circle,perimeter of circle,perimeter of rectangle and square

In [54]:
def areaofcircle():
    r=float(input('Enter radius:'))
    return 3.14*r*r

In [ ]:
areaofcircle()

## Lambda

 1) A lambda function is an anonymous function (function without a name).

 2) Lambda functions can have any number of arguments but only one expression.
 The expression is evaluated and returned.

 3) We use lambda functions when we require a nameless function for a short period of time.

![image.png](attachment:image.png)

In [30]:
addition = lambda  a : a  + 10
# This lambda function adds value 10 to an argumentb

In [31]:
print(addition(8))

18

In [32]:
product  =  lambda  a,  b  :  a  *  b
#This  lambda  function  takes  two  arguments  (a,b)
#and do the multiplication
print(product(5,  6))

30

## Filter Function

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [ ]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

## Map Function

map() function returns a map object(which is an iterator) of the results
after applying the given function to each item of a given
iterable (list, tuple etc.)

In [57]:
# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [59]:
# Double all numbers using map and lambda
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [60]:
print(list(result))

[]

In [62]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [64]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## Reduce Function

The reduce(fun,seq) function is used to apply a particular function passed in
its argument to all of the list elements mentioned in the sequence passed
along.This function is defined in “functools” module.

In [1]:
# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 17

In [37]:
lis

[1, 3, 5, 6, 2]

In [2]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

6

In [34]:
l2 = [1,2,3,4,5,6]

In [36]:
max(l2)

6